networks:
  traefik_network:
    external: true

services:
  kavita:
    image: jvmilazz0/kavita:${KAVITA_IMAGE_VERSION:-latest}
    container_name: kavita
    restart: unless-stopped
    environment:
      - TZ=${TZ:-Europe/Zurich}
    volumes:
      - ./config:/kavita/config # /kavita/config must not be changed
      - ./data/manga:/manga
      - ./data/comics:/comics
      - ./data/books:/books
    networks:
      - traefik_network
    ports:
      - 5000:5000
    labels:
      ## Traefik
      - traefik.enable=true
      - traefik.docker.network=traefik_network
      ## HTTPS
      - traefik.http.routers.kavita.entrypoints=https
      - traefik.http.routers.kavita.rule=Host(`${KAVITA_FULLY_QUALIFIED_DOMAIN_NAME}`)
      ## Services
      - traefik.http.services.kavita.loadbalancer.server.port=5000
